
html
  head
    title= title
  body
    h1= title

    a(href='/new') New Message
    each message in messages
      .message
        p User: #{message.user}
        p Text: #{message.text}
        p Date: #{message.added} 
